__pycache__/
.ipynb_checkpoints

data/africa_twitter_data.json
data/clean_data.csv
data/global_twitter_data.json
data/processed_global_tweet_data.json
data/clean_data.json
data/clean_data.csv
test_script_helper.py

.vscode/
